[Desktop Entry]
Type=Application
Version=1.0
Name=Model Assistant
Comment=Launch local AI model runtimes
Exec=model-assistant
Icon=org.gnome.modelassistant
StartupNotify=true
Terminal=false
DBusActivatable=true
Categories=GTK;GNOME;Utility;
Keywords=AI;Model;LLM;Inference;GNOME;
